/* Main Layout ------------------------------------------------------------------------- */
html,
body {
    width: 100%;
    height: auto;
    margin: 0;
    background-color: #ebebeb;
    font-family: 'Lora', serif;
    min-width: 1000px;
    text-align: center;
    align-items: center;

}

.clear {
    clear: both;
}

.wrapper {
    height: 100vh;
    /*This part is important for centering*/
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    width: 100%
}

body {
    font-size: 25px;
    overflow-x: hidden;
}

p1 {
    float: left;
    font-family: perpetua;
    font-size: 17px;
    text-align: center;
    height: 10%;
}


.navbar {
    position: fixed;
    top: 0px;
    overflow: hidden;
    background-color: white;
    font-family: 'Lora', serif;
    height: 5%;
    transition: 500ms ease;

}

.navbar a {
    /*margin-right: 50%;*/
    font-size: 75%;
    color: #2f9c95;
    font-weight: bold;
    padding: 14px 16px;
    text-decoration: none;
    z-index: 9999;
    display: inline-block;
    text-align: center;
}

.dropdown {
    float: right;
    overflow: hidden;
    z-index: 9999;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */
    z-index: 9999;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: white;
    z-index: 9999;
    opacity: 0.5;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    color: white;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* THIS IS THE CENTER IMAGE CODE ---------------------*/
.centered {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
    font-family: perpetua;
    color: white;
}

.centered2 {
    position: absolute;
    top: 20%;
    left: 15%;
    transform: translate(-50%, 500%);
    font-family: perpetua;
    color: white;
}

.headers {
    margin-top: 7.5%;
    color: #2f9c95;
}

.longLine {
    width: 50%;
    border: 1.5px solid #2f9c95;
}

.longLine2 {
    width: 100%;
    border: 1.5px solid #2f9c95;
}

/* END OF THE CENTER IMAGE CODE ---------------------*/

/* POSITIONING ---------------------------------------------------------------------------------------------  */

.row {
    display: inline;
}

.row2 {
    display: flex;
}

.column1-left {
    margin-right: 5%;
    margin-left: 5%;
    width: 15%;
    position: relative;
    float: left;
}

.column1-mid-left {
    margin-right: 5%;
    margin-left: 5%;
    width: 15%;
    position: relative;
    float: left;
}

.column1-mid-right {
    margin-right: 5%;
    margin-left: 5%;
    width: 15%;
    position: relative;
    float: left;
}

.column1-right {
    margin-right: 5%;
    margin-left: 5%;
    width: 15%;
    position: relative;
    float: left;
}

.column {
    margin-right: 5%;
    margin-left: 5%;
}

.nav-contents {
    margin-left: -2%;
    margin-right: 2%;
}

/* END OF POSITIONING --------------------------------------------------------------------------------------------- */

/* FONT STYLING ----------------------------------------------------------------------------------------------------------------------------------- */

.headerTextDark {
    color: #104547;

}

.button-66 {
    background-color: #2f9c95;
    border-radius: 4px;
    border: 0;
    /*box-shadow: rgba(47, 156, 149, 1) 0 -1px 3px 0 inset, rgba(16, 69, 71, 1) 0 3px 6px 0;*/
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inherit;
    font-family: "Space Grotesk", -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    min-height: 56px;
    min-width: 120px;
    padding: 16px 20px;
    position: relative;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

.button-66:hover {
    background-color: #f5f7f6;
    transform: translateY(-2px);
    color: #2f9c95;
}

@media (min-width: 768px) {
    .button-66 {
        padding: 16px 44px;
        min-width: 150px;
    }
}

/* END FONT STYLING ----------------------------------------------------------------------------------------------------------------------------------- */

/* BOXING ------------------------------------------------------------------------------- */

#box1Bg {
    width: 100%;
    height: 100%;
    background-color: white;
    border-bottom: 25px;
}

.box1Container {
    display: flex;
    justify-content: center;
    padding-bottom: 15%;
}

.box1TextHeader {
    text-align: left;
    color: #104547;
}

.box1 {
    width: 90%;
    margin-left: 5%;
}

.box1Text {

    margin-right: 60%;
    text-align: left;
}

.imageBox1 {
    margin-right: 5%;
}

.image1 {
    width: 100%;
    height: 100%;
    margin-right: 20%;
    margin-top: 5%;
}

/* ALL OF THIS IS BOX 2 ------------------------------------------------------------------------------------------ */

.box2 {
    width: 45%;
    margin-right: 5%;
}

#box2Bg {
    width: 100%;
    height: 100%;
    border-bottom: 25px;

}

.box2TextHeader {
    text-align: right;
    color: #104547;
}

.box2Text {
    text-align: right;
}


.image2 {
    width: 60%;
    height: 60%;
}

/* End of boxing ------------------------------------------------------------------------ */


/* START OF PARTNERS PAGE CSS */
/* CURRENT DEALS CODE */

.current-deals {
    margin-top: 20%;
}



/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: none;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}


/* SCROLLING ANIMATION */

/* section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  section:nth-child(1) {
    color: #e0ffff;
  }
  
  section:nth-child(2) {
    color: #42455a;
    background: white;
  }
  
  section:nth-child(3) {
    color: #e0ffff;
  }
  
  section:nth-child(4) {
    color: #42455a;
    background: #f1f1f1;
  }
  
  section .container {
    margin: 100px;
  }
  
  section h1 {
    font-size: 3rem;
    margin: 20px;
  }
  
  section h2 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
  }
  
  section .text-container {
    display: flex;
    float: left;
    margin-left: -3%;
  }
  
  section .text-container .text-box {
    position: relative;
    margin: 0px;
    padding: 50px;
    background: none;
    color: black;
    float: left;
  }
  
  section .text-container .text-box h3 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  @media (max-width: 900px) {
    section h1 {
        font-size: 2rem;
        text-align: center;
    }
  
    section .text-container {
        flex-direction: column;
    }
  }
  
  .reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active {
    transform: translateY(0);
    opacity: 1;
  } */


/* END OF SCROLLING ANIMATION */








/* CURRENT PARTNERS CODE */
#partner-input {
    width: 30%;
    /* Full-width */
    font-size: 16px;
    /* Increase font-size */
    padding: 12px 20px 12px 40px;
    /* Add some padding */
    border: 1px solid #ebebeb;
    /* Add a grey border */
    margin-bottom: 12px;
    /* Add some space below the input */
}

/* CURRENT PARTNERS CODE */
.images {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.current-partners {
    background-color: #ebebeb;
    ;
    overflow: hidden;
    margin-top: 40px;
    padding: 5%;
}

h2.partner-head {
    color: #104547;
    margin-bottom: 5%;
    margin-top: 5%;
    font-size: 50px;
}

.partner-left {
    float: left;
    margin-left: 20%;
    margin-right: 2%;
    width: 16.6%;
    color: #104547;
    position: relative;
    margin-bottom: 5%;
    ;
}

.partner-mid {
    float: left;
    margin-left: 3%;
    margin-right: 3%;
    width: 16.6%;
    color: #104547;
    position: relative;
}

.partner-right {
    float: left;
    margin-left: 2%;
    margin-right: 20%;
    width: 16.6%;
    color: #104547;
    position: relative;
}

.partner:after {
    display: table;
}

.partner-img {
    margin-top: 20px;
    width: 20%;
}

#more {
    display: none;
}

.partner-left:after {
    display: table;
}

.partner-mid:after {
    display: table;
}

.partner-right:after {
    display: table;
}

.gallery-img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    z-index: 1;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.partner-left:hover .gallery-img {
    opacity: 0.1;
}

.partner-left:hover .middle {
    opacity: 1.5;
}

.partner-mid:hover .gallery-img {
    opacity: 0.1;
}

.partner-mid:hover .middle {
    opacity: 1.5;
}

.partner-right:hover .gallery-img {
    opacity: 0.1;
}

.partner-right:hover .middle {
    opacity: 1.5;
}

.text1 {
    color: #104547;
    font-weight: bold;
    font-size: 16px;
    padding: 16px 32px;
}

.text2 {
    color: #104547;
    font-size: 14px;
    opacity: 0.75;
    text-decoration: none;
}

.read-button {
    background-color: #2f9c95;
    border-radius: 4px;
    border: 0;
    /*box-shadow: rgba(47, 156, 149, 1) 0 -1px 3px 0 inset, rgba(16, 69, 71, 1) 0 3px 6px 0;*/
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 3.5%;
    min-height: 56px;
    min-width: 120px;
    padding: 16px 20px;
    position: relative;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

.read-button:hover {
    background-color: #f5f7f6;
    transform: translateY(-2px);
    color: #2f9c95;
}

@media (min-width: 768px) {
    .read-button {
        padding: 16px 44px;
        min-width: 150px;
    }
}

/* FUTURE PARTNERS SECTION CODE */
.future-partners {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    background-color: white;
}

.future-partners-text {
    color: #104547;
    font-weight: lighter;
}



/* DOWNLOAD PAGE CSS */
/* INSTRUCTIONS CSS */
.instruct-text {
    background-color: white;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    border: 1px solid #104547;
    color: #104547;
}

.steps {
    margin-right: 15%;
    margin-left: 5%;
}

.hr-solid {
    margin: 5%;
}

/* DOWNLOAD LINKS CSS */
.page-link {
    color: #2f9c95;
    text-decoration: none;
}

.page-link:hover {
    opacity: 0.5;
}

.download {
    margin-top: 10%;
    background-color: white;
    padding-top: 5%;
    padding-bottom: 5%;
}

.double-column1 {
    margin-right: 4.5%;
    margin-left: 25%;
    width: 20%;
    position: relative;
    float: left;
    border-right-width: 1px;
    border-color: #104547;
}

.double-column2 {
    margin-right: 25%;
    margin-left: 4.5%;
    width: 20%;
    position: relative;
    float: left;
    border-left-width: 1px;
    border-color: #104547;
}

.extension-link {
    text-decoration: none;
    text-align: center;
    color: #2f9c95;
}

.extension-link:hover {
    opacity: 0.5;
}

.separator {
    background-color: white;
}

.hr-link-title {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 0%;
}

.hr-links-end {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
}

.problem-link:hover {
    opacity: 0.5;
}


/* FOOTER */
/* FOOTER CSS */
footer {
    background: white;
}

.footer-distributed {
    margin-left: 15%;
    margin-right: 15%;
    text-align: left;
    padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */
.footer-distributed .footer-left {
    width: 40%;
}

.footer-distributed h3 {
    color: #104547;
    margin: 0;
}

/* Footer Center */
.footer-center {
    width: 35%;
}

.footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: large;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-center i.fa-envelope {
    font-size: large;
    line-height: 38px;
}

.footer-center p {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
}

.footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-center p a {
    color: #9ecbf5;
    text-decoration: none;
    ;
}

.footer-links a:before {
    content: "|";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #104547;
    display: inline-block;
    padding-right: 5px;
}

/* Footer Right */
.footer-right {
    width: 20%;
}

.footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-company-about span {
    display: block;
    color: #104547;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-icons {
    margin-top: 25px;
}

.footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 2px;

    font-size: 20px;
    color: #104547;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

/* SCROLLING ANIMATION CODE */
/* section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.centerThis {
    height: 250px;
    margin-left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

section:nth-child(1) {
    color: #e0ffff;
}

section:nth-child(2) {
    color: #42455a;
    /* background: #e0ffff; */
}

section:nth-child(3) {
    color: #e0ffff;
}

section:nth-child(4) {
    color: #42455a;
    /* background: #e0ffff; */
}

section .container {
    margin: 100px;
}

section h1 {
    font-size: 3rem;
    margin: 20px;
}

section h2 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

section .text-container {
    display: flex;
}

section .text-container .text-box {
    margin: 20px;
    padding: 20px;
    background: none;
}

section .text-container .text-box h3 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

@media (max-width: 900px) {
    section h1 {
        font-size: 2rem;
        text-align: center;
    }

    section .text-container {
        flex-direction: column;
    }
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}